@keyframes fadeInUp
	0%
		opacity 0
		transform translate3d(0, 100%, 0)

	100%
		opacity 1
		transform none

@keyframes slideInRight
	0%
		transform translateX(100%)
		visibility visible

	100%
		transform translateX(0)

.fadeInUp
	animation-name fadeInUp

.slideInRight
	animation-name slideInRight
