.btn
	margin $indent-xx-small auto $indent-xx-small
	padding $indent-x-small $indent-medium
	border 0
	border-radius $border-radius
	text-transform uppercase
	font normal $font-size-small $font-raleway
	letter-spacing 1px
	text-align center
	text-decoration none
	background-color $color-yellow
	color $color-grey-dark
	transition background-color $delay_mid
	cursor pointer

	&:hover
		background-color $color-yellow-goldy

	&:active
	&:focus
		outline none

	&--full-width
		width 100%
