html
	font-size 50%

body
	margin 0
	font 300 $font-size-small/1.8 $font-raleway
	color $color-grey-mid

*
	box-sizing border-box

img
	display block

@media (min-width $breakpoints.sm)
	html
		font-size 62.5%