[class^="icon-"]
[class*=" icon-"]
	display inline-block
	font-size 0
	line-height 0

	&::before
		display inline-block
		font normal normal 2rem icon-font
		text-align center

.icon
	&-size
		&--28
			&::before
				font-size 28px

.icon-upwork
	&::before
		content '\21'

.icon-linkedin
	&::before
		content '\22'

.icon-mail
	&::before
		content '\e800'

.icon-heart
	&::before
		content '\e801'

.icon-facebook
	&::before
		content '\f09a'

.icon-angle-down
	&::before
		content '\f107'

.icon-angle-up
	&::before
		content '\f107'
		transform rotate(180deg)
