.screen-block
	padding $indent-xx-large 0

	&--gray
		background $color-grey-xx-light

	&__header
		text-align center
		margin-bottom $indent-x-large

	&__line
		background-color $color-grey-light--alpha-50
		width $indent-xx-large
		height 1px
		margin $indent-large auto

	&__title
		font-weight 800

	&__subtitle
		font-size $font-size-medium
