h1
h2
h3
h4
h5
h6
	font 700 $font-size-xxx-large/1.2 $font-raleway
	text-transform uppercase
	letter-spacing $indent-xx-small
	margin $indent-xx-small 0 $indent-xx-small
	color $color-grey-dark

h3
h4
h5
h6
	letter-spacing 1px

h2
	font-size $font-size-xx-large
	margin 0 0 $indent-medium

h3
	font-size $font-size-small
	margin 0 0 $indent-xx-small

h4
h5
	font-size $font-size-x-small

h5
h6
	font-weight 400

.no-wrap
	white-space nowrap
