section.calltoaction
	.grid.grid--container
		.row
			.col--md-12.col--lg-12
				h2.calltoaction__title.wow.slideInRight(data-wow-delay=".1s") ARE YOU READY TO START?
				.calltoaction__description.wow.slideInRight(data-wow-delay=".2s")
					| I'm ready to help you.

			.col--md-12.col--lg-12.wow.slideInRight(data-wow-delay=".3s")
				a.btn(href="#contact") Hire Me
