section.calltoaction
	.grid.grid--container
		.row
			.col--xs-12.col--md-6.col--md-offset-3
				h2.calltoaction__title.wow.slideInRight(data-wow-delay=".1s") ARE YOU READY TO START?
				.calltoaction__description.wow.slideInRight(data-wow-delay=".2s")
					| I'm ready to help you.

		.row
			.col--xs-12.col--md-6.col--md-offset-3.wow.slideInRight(data-wow-delay=".3s")
				a.btn(href="#contact") Hire Me
