section.calltoaction
  .container
    .row
      .col-md-12.col-lg-12
        h2.wow.slideInRight(data-wow-delay=".1s") ARE YOU READY TO START?
        .calltoaction-decription.wow.slideInRight(data-wow-delay=".2s")
          | I'm ready to help you.

      .col-md-12.col-lg-12.calltoaction-btn.wow.slideInRight(data-wow-delay=".3s")
        a.btn.btn-lg(href="#contact") Hire Me
