section#home.pfblock-image.screen-height
  .home-overlay

  .intro
    .start Hi, my name is <span style="font-weight: bold;">Sergei nJS Vasin</span> and I'm
    h1(style="text-transform: none; color: #F0DB4F;") JavaScript ninja
    .start back-end + front-end Developer
    .start creating fast modern Web Applications, Services, SPA

  a(href="#services")
    .scroll-down: span: i.fa.fa-angle-down.fa-2x
