footer#footer
  .container
    .row
      .col-sm-12
        ul.social-links
          li: a.wow.fadeInUp(href="index.html#"): i.fa.fa-facebook
          li: a.wow.fadeInUp(href="index.html#" data-wow-delay=".1s"): i.fa.fa-twitter
          li: a.wow.fadeInUp(href="index.html#" data-wow-delay=".2s"): i.fa.fa-google-plus
          li: a.wow.fadeInUp(href="index.html#" data-wow-delay=".4s"): i.fa.fa-pinterest
          li: a.wow.fadeInUp(href="index.html#" data-wow-delay=".5s"): i.fa.fa-envelope

        p.heart
          | from Russia with
          |
          span.fa.fa-heart.fa-2x.animated.pulse

        p.copyright
          | © 2017 Sergei nJS Vasin
