section.home
	.home__overlay

	header.header
		.header__text Hi, my name is #[strong Sergey nJS Vasin] and I'm
		h1.header__main JavaScript ninja
		.header__text back-end + front-end Developer
		.header__text creating fast modern Web Applications, Services, SPA

	a.scroll-down(href="#services")
		i.scroll-down__icon.icon-angle-down.icon-size--28
