header.header
  nav.navbar.navbar-custom(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#custom-collapse")
          span.sr-only  Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href="index.html" style="text-transform: none;") Sergei nJS Vasin

      .collapse.navbar-collapse#custom-collapse
        ul.nav.navbar-nav.navbar-right
          li: a(href="#home") Home
          li: a(href="#services") Services
          li: a(href="#portfolio") Works
          li: a(href="#skills") Skills
          li: a(href="#testimonials") Testimonials
          li: a(href="#contact") Contact