section.navigation
	.grid.grid--container
		nav.nav(data-nav)
			.nav__header
				a.brand(href="#") Sergey nJS Vasin

			.nav__toggler(data-toggle="collapse")
				span.nav__toggler-icon
				span.nav__toggler-icon
				span.nav__toggler-icon

			ul.nav__menu(data-nav-menu)
				li: a.nav__item(href="#") Home
				li: a.nav__item(href="#services") Services
				li: a.nav__item(href="#works") Works
				li: a.nav__item(href="#skills") Skills
				li: a.nav__item(href="#testimonials") Testimonials
				li: a.nav__item(href="#contact") Contact
