- const portfolioItems = [
-   'Crazy <span>Shark</span>',
-   'Funny <span>Tortoise</span>',
-   'The <span>Hat</span>',
-   'Bang <span>Bang</span>',
-   'Crypton <span>Dude</span>',
-   'Don\'t <span>Poke</span>',
- ];

section#portfolio.pfblock
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .pfblock-header.wow.fadeInUp
          h2.pfblock-title My works
          .pfblock-line
          .pfblock-subtitle
            | No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.

    .row
      each val, i in portfolioItems
        .col-xs-12.col-sm-4.col-md-4
          .grid.wow.zoomIn
            figure.effect-bubba
              img(src=`assets/images/item-${i+1}.jpg` alt=`img0${i}`)
              figcaption
                h2!= val
                p Lily likes to play with crayons and pencils
