- const service = [
-		{
-			title: 'SOLUTION of your problem',
-			text: 'especially if it requires to use the latest technology, creativity',
-		},
-		{
-			title: 'world-class QUALITY',
-			text: 'in an adequate time',
-		},
-		{
-			title: 'clear code',
-			text: 'SEO friendly, easy-to-understand, easy-to-maintain, clear code',
-		},
-		{
-			title: 'increasing the PRODUCTIVITY',
-			text: 'of your site',
-		},
-		{
-			title: 'increasing TRAFFIC',
-			text: 'to your site',
-		},
-		{
-			title: 'increasing the CONVERSION',
-			text: 'of your visitors',
-		},
-		{
-			title: 'and as a result',
-			text: 'an increase in PROFITS from your project',
-		},
-		{
-			title: 'friendly respectable attitude',
-			text: 'and a SINCERE DESIRE to help in YOUR task',
-		},
-		{
-			title: 'excellent COMMUNICATIONS',
-			text: '',
-		},
-		{
-			title: 'energy, power and time',
-			text: 'the PASSION-working person',
-		},
- ];

section#services.screen-block.screen-block--gray
	.grid.grid--container
		.row
			.col.col--sm-6.col--sm-offset-3

				.screen-block__header.wow.fadeInUp
					h2.screen-block__title With me you will receive
					div.screen-block__line

		.row
			each val in service
				.col.col--sm-3
					.iconbox.wow.slideInLeft
						.iconbox__icon: span.icon-magic-wand

						.iconbox__text
							h3.iconbox__title= val.title
							.iconbox__desc= val.text
