section#services.pfblock.pfblock-gray
  .container
    .row
      .col-sm-6.col-sm-offset-3

        .pfblock-header.wow.fadeInUp
          h2.pfblock-title This is what I do
          div.pfblock-line
          div.pfblock-subtitle
            | No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.

    .row
      .col-sm-3
        .iconbox.wow.slideInLeft
          .iconbox-icon: span.icon-magic-wand

          .iconbox-text
            h3.iconbox-title Web Design
            .iconbox-desc
              | Good things come to those who wait, but only the things left by those who hustle

      .col-sm-3
        .iconbox.wow.slideInLeft
          .iconbox-icon: span.icon-magic-wand

          .iconbox-text
            h3.iconbox-title Web Programming
            .iconbox-desc
              | Good things come to those who wait, but only the things left by those who hustle

      .col-sm-3
        .iconbox.wow.slideInLeft
          .iconbox-icon: span.icon-magic-wand

          .iconbox-text
            h3.iconbox-title Branding
            .iconbox-desc
              | Good things come to those who wait, but only the things left by those who hustle

      .col-sm-3
        .iconbox.wow.slideInLeft
          .iconbox-icon: span.icon-magic-wand

          .iconbox-text
            h3.iconbox-title Consultation
            .iconbox-desc
              | Good things come to those who wait, but only the things left by those who hustle
