- const skillsItems = [
-		{name: 'Programming', percent: 100},
-		{name: 'Design', percent: 95},
-		{name: 'Marketing', percent: 95},
-		{name: 'UI / UX', percent: 100},
- ];

section#skills.screen-block.screen-block--gray
	.grid.grid--container
		.row.skills
			.col.col--sm-6.col--sm-offset-3
				.screen-block__header.wow.fadeInUp
					h2.screen-block__title My Skills
					.screen-block__line
					.screen-block__subtitle
						| No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.

		.row(data-chart-container)
			each val in skillsItems
				- let p = val.percent
				.col.col--sm-6.col--md-3.text--xs-center
					span.chart(data-easy-pie-chart data-percent=`${p}`)
						span.chart__percent= p
					h3.text--xs-center= val.name
