section#testimonials.screen-block.screen-block--gray
	.grid.grid--container
		.row
			.col.col--sm-6.col--sm-offset-3
				.screen-block__header.wow.fadeInUp
					h2.screen-block__title What my clients say
					.screen-block__line

		.rotator
			.rotator__progress

			.rotator__content(data-rotator-content)
				.row
					.col.col--md-4.col--lg-3
						img.rotator__image(src="/images/static/client-1.jpg" alt="client-1")

					.col.col--md-8.col--lg-9.text--xs-center.text--md-left
						blockquote.rotator__quote
							p.rotator__text.
								Work with Sergei was a pleasure. He understood exactly what I wanted and created
								an awesome site for my company.
							footer.rotator__footer Pino Caruso

			.rotator__content(data-rotator-content)
				.row
					.col.col--md-4.col--lg-3
						img.rotator__image(src="/images/static/client-2.jpg" alt="client-2")

					.col.col--md-8.col--lg-9.text--xs-center.text--md-left
						blockquote.rotator__quote
							p.rotator__text.
								I'm really happy with the results. Get 100% satisfaction is difficult
								but Sergei got it without problems.
							footer.rotator__footer Jane Doe
