section#testimonials.pfblock.pfblock-gray
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .pfblock-header.wow.fadeInUp
          h2.pfblock-title What my clients say
          .pfblock-line
          .pfblock-subtitle
            | No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.

    .row
      #cbp-qtrotator.cbp-qtrotator
        .cbp-qtcontent
          img(src="assets/images/client-1.jpg" alt="client-1")
          blockquote
            p Work with John was a pleasure. He understood exactly what I wanted and created an awesome site for my company.
            footer Pino Caruso

        .cbp-qtcontent
          img(src="assets/images/client-2.jpg" alt="client-2")
          blockquote
            p I'm really happy with the results. Get 100% satisfaction is difficult but Alex got it without problems.
            footer Jane Doe
