extends layout/page

block vars
  - title = 'Sergei nJS Vasin Portfolio'

block body
  include partials/first-screen
  include partials/navigation
  include partials/services
  include partials/portfolio
  include partials/skills
  include partials/calltoaction
  include partials/testimonials
  include partials/contacts


