extends layout/page

block vars
	- title = `Sergey nJS Vasin\'s Portfolio ${version}`

block body
	include partials/home
	include partials/navigation
	include partials/services
	include partials/works
	include partials/skills
	include partials/calltoaction
	include partials/testimonials
	include partials/contact


