$color-white = #fff
$color-white--alpha-80 = rgba(255, 255, 255, .8)

$color-black-darken = #111

$color-grey-x-light = #d8e1e4
$color-grey-light = #878787
$color-grey-mid = #666
$color-grey-dark = #222
$color-grey-dark--alpha-80 = rgba(17, 17, 17, 0.8)

$color-yellow = #f0db4f
$color-yellow-goldy = #f0c41b
