$breakpoints = {
	'xs' : 0,
	'sm' : 544px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px,
}

$columns = 12

$font-raleway = 'Raleway', "Times New Roman", Times, sans-serif

$delay_low = 0.125s
$delay_mid = 0.3s
$delay_hi = 1s

$border-radius = 3px

$indent-xx-small = 5px
$indent-x-small = 10px
$indent-small = 15px
$indent-default = 20px
$indent-medium = 30px
$indent-large = 40px
$indent-x-large = 60px
$indent-xx-large = 100px

$font-size-x-small = 12px
$font-size-small = 14px
$font-size-default = 16px
$font-size-medium = 18px
$font-size-large = 20px
$font-size-x-large = 24px
$font-size-xx-large = 30px
$font-size-xxx-large = 40px

$color-white--alpha-10 = rgba(white, .1)
$color-white--alpha-20 = rgba(white, .2)
$color-white--alpha-50 = rgba(white, .5)
$color-white--alpha-80 = rgba(white, .8)

$color-grey-xx-light = #f5f5f5
$color-grey-x-light = #d8e1e4
$color-grey-light = #999
$color-grey-light--alpha-50 = rgba(#999, .5)
$color-grey-mid = #666
$color-grey-dark = #222

$color-yellow = #f0db4f
$color-yellow-goldy = #f0c41b

flex-centred-all()
	display flex
	justify-content center
	align-items center
