$font-raleway = 'Raleway', sans-serif

$delay_nul = 0s
$delay_low = 0.125s
$delay_mid = 0.3s
$delay_hi = 0.7s

$indent-xx-small = 5px
$indent-x-small = 10px
$indent-small = 15px
$indent-default = 20px
$indent-medium = 30px
$indent-large = 40px
$indent-x-large = 60px
$indent-xx-large = 100px

$font-size-xx-small = 10px
$font-size-x-small = 12px
$font-size-small = 14px
$font-size-default = 16px
$font-size-medium = 18px
$font-size-large = 20px
$font-size-x-large = 24px
$font-size-xx-large = 30px
$font-size-xxx-large = 40px