.btn
  font-family $font-raleway
  text-transform uppercase
  letter-spacing 1px
  font-size $font-size-small
  padding $indent-x-small $indent-medium
  border 0

  .icon-before
    margin-right $indent-xx-small

  .icon-after
    margin-left $indent-xx-small

  &:hover
  &:focus
  &:active
  &.active
    outline inherit !important

.btn-lg
.btn-group-lg > .btn
  padding $indent-x--small $indent-medium
  font-size $font-size-small
  background $color-grey-dark--alpha-80
  color $color-white

.btn-lg:hover
.btn-group-lg > .btn:hover
  background $color-grey-dark--alpha-80
  color $color-white

.btn-sm
.btn-group-sm > .btn
  padding $indent-xx--small $indent-medium
  font-size $font-size-xx-small

.btn-xs
.btn-group-xs > .btn
  padding $indent-xx--small $indent-medium
  font-size $font-size-xx-small

.calltoaction-btn
  text-align center

  & > .btn
    background $color-white--alpha-80
    color $color-black-darken
    margin-top $indent-xx--small
    margin-bottom $indent-xx--small

    &:hover
      background $color-white
