.calltoaction
	background $color-grey-mid url(../images/pattern.png)
	padding $indent-large 0
	text-align center

	&__title
		margin-bottom $indent-default
		font-size $font-size-large
		letter-spacing 1px
		color white

	&__description
		margin auto auto $indent-medium
		font-size $font-size-large
		color white
