.footer
	background $color-grey-dark
	text-align center
	padding $indent-large 0
	color white

.heart
	animation 1s infinite pulse
	color $color-yellow

.social-links
	display inline-flex
	list-style none
	padding 0
	margin 0 0 $indent-default

	&__item
		flex-centred-all()
		width $indent-large
		height $indent-large
		margin $indent-xx-small
		border 1px solid $color-white--alpha-10
		border-radius $border-radius
		color $color-white--alpha-20
		transition color $delay_mid, border-color $delay_mid

		&:hover
			border-color $color-white--alpha-50
			color $color-white--alpha-80

@keyframes pulse
	0%
		transform scale(1)

	50%
		transform scale(1.1)

	100%
		transform scale(1)
