#footer
  background #222
  text-align center
  padding 40px 0
  color #FFF
  span
    animationcount infinite
    animation-iteration-count infinite
    color #F0DB4F

.copyright
  margin 0
  a
    border-bottom 1px dotted #fff

.social-links
  list-style none
  padding 0
  margin 0 0 20px
  li
    display inline-block
    margin 5px
  a
    width 36px
    height 36px
    display block
    line-height 35px
    text-align center
    border 1px solid rgba(255, 255, 255, .1)
    border-radius 3px
    border-radius 3px
    font-size 14px
    color rgba(255, 255, 255, .2)
    &:hover
      border 1px solid rgba(255, 255, 255, .5)
      color rgba(255, 255, 255, .8)
