.brand
	text-transform none
	text-decoration none
	color $color-grey-dark
	font-family Lobster, cursive
	font-size 2.2rem
	font-weight bold

.navigation
	position sticky
	top 0
	z-index 3
	background-color $color-yellow

.nav
	display flex
	flex-wrap wrap
	letter-spacing .3rem

	&__toggler
		display none
		padding $indent-x-small
		margin auto 0
		background-color transparent
		border none

		&-icon
			display block
			width 22px
			height 2px
			border-radius 1px
			background-color $color-grey-dark

			+.nav__toggler-icon
				margin-top 4px

	&__header
		align-self center

	&__menu
		display flex
		margin auto 0 auto auto
		padding 0
		list-style none

	&__item
		display block
		position relative
		padding $indent-small
		font-size 1.2rem
		text-transform uppercase
		text-decoration none
		color $color-grey-dark

		&::before
			content ''
			position absolute
			bottom 0
			left 50%
			right 50%
			height .4rem
			background-color $color-grey-light
			transition-property left, right
			transition-duration $delay_mid
			transition-timing-function ease-out

		&:hover
		&:focus
		&:active
			&::before
				left 0
				right 0

	@media (max-width: $breakpoints.md)
		&__menu
			flex-basis 100%
			display block
			margin-left 0
			max-height 0
			overflow hidden
			font-size $font-size-x-small
			transition max-height $delay_mid

			&.nav__menu--expanded
				max-height 310px

		&__toggler
			display block
			margin-left auto
