.scroll-up
  position fixed
  display none
  z-index 999
  bottom 2em
  right 2em
  a
    background-color rgba(135, 135, 135, 0.5)
    display block
    width 35px
    height 35px
    text-align center
    color #fff
    font-size 15px
    line-height 30px

.scroll-up a:hover,
.scroll-up a:active
  background-color rgba(235, 235, 235, .8)
  color #F0DB4F

.scroll-down
  position absolute
  left 50%
  bottom 40px
  border 2px solid #fff
  border-radius 50%
  height 50px
  width 50px
  margin-left -15px
  display block
  z-index 10
  text-align center
  span
    position relative
    color #fff
    animation-name drop
    animation-duration 1s
    animation-timing-function linear
    animation-delay 0s
    animation-iteration-count infinite
    animation-play-state running
    animation-name drop
    animation-duration 1s
    animationfunction linear
    animation-delay 0s
    animationcount infinite
    animationstate running


@keyframes drop
  0%
    top 0
    opacity 0

  30%
    top 10px
    opacity 1

  100%
    top 25px
    opacity 0
