.iconbox
	margin auto auto $indent-default
	padding $indent-large $indent-default
	border-bottom 1px solid $color-grey-x-light
	background white
	text-align center

	&__icon
		margin-bottom $indent-small
		font-size $font-size-xx-large
		color $color-grey-dark

	&__title
		margin-bottom $indent-small
		padding 0
