doctype html
html
	head
		block vars
			- var title = title || 'Sergey nJS Vasin'

		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Sergey nJS Vasin's Portfolio | I'm JavaScript ninja, back-end and front-end Web Developer")
		meta(name="author" content="Sergey nJS Vasin")

		title= title

		link(href="/favicon.ico" rel="shortcut icon")

		link(href="/css/main.css" rel="stylesheet" media="screen")

		//script(src="main-head.js")

		include ../partials/counter

	body
		block body

		block footer
			include ../partials/footer

		.scroll-up
			a(href="#")
				i.icon-angle-up

		block endbodyScripts
			//script(src = "assets/vendor/imagesloaded.pkgd.js")
			//script(src = "assets/vendor/smoothscroll.js")
			//script(src = "assets/vendor/wow.min.js")
			//script(src = "assets/vendor/jquery.easypiechart.js")
			//script(src = "assets/vendor/waypoints.min.js")
			//script(src = "assets/vendor/jquery.cbpQTRotator.js")
			//script(src = "assets/js/custom.js")
			script(src="main.js")